h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: large;
    text-decoration: underline;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
 }


footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: goldenrod;
    text-align: center;
}